PORT=3008
DATABASE_URL=postgresql://assessmentservice:assessmentservice@assessment-db:5432/assessmentdb
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=scu
KEYCLOAK_CLIENT_ID=assessment-service
KEYCLOAK_CLIENT_SECRET=replace-me
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
