PORT=3002
DATABASE_URL=postgresql://gradesservice:gradesservice@grades-db:5432/gradesdb
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=scu
KEYCLOAK_CLIENT_ID=grades-service
KEYCLOAK_CLIENT_SECRET=replace-me
