PORT=8008
DATABASE_URL=postgresql://enrollmentuser:enrollmentpass@enrollment-db:5432/enrollmentdb
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=scu
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/scu/protocol/openid-connect/certs
KEYCLOAK_ISSUER=http://keycloak:8080/realms/scu
KEYCLOAK_AUDIENCE=account
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
