PORT=3003
DATABASE_URL=postgresql://attendanceservice:attendanceservice@attendance-db:5432/attendancedb
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=scu
KEYCLOAK_CLIENT_ID=attendance-service
KEYCLOAK_CLIENT_SECRET=replace-me
