PORT=3004
DATABASE_URL=postgresql://courseservice:courseservice@course-db:5432/coursedb
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=scu
KEYCLOAK_CLIENT_ID=course-service
KEYCLOAK_CLIENT_SECRET=replace-me
